/* Unused color #F8981C*/

* {
    color: #747704;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

a {
    color: #747704;
}

hr {
    height: 4px;
    background-color: #BCBBBB;
}

.logo {
    margin-top: 20px;
}

.header {
    font-weight: 100;
    font-size: 60px;
}

.section_header {
    color: #BCBBBB;
}

.subtitle {
    color: #747704;
}
